{% load static %}
<html>
<head>
<title>Detection of Liver Tumors</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Patient name");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please upload patinet image");
	formObj.t2.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
	
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Detection of Liver Tumors</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
         <ul>      
     <li><a href="{% url 'UpdateProfile' %}"><font size="3" color="black">Update Profile</a></li>
	 <li><a href="{% url 'Detection' %}"><font size="3" color="black">Detect Tumor</a></li>
	 <li><a href="{% url 'index' %}"><font size="3" color="black">Logout</a></li>
   </ul>      
        </div>
        <div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'DetectionAction' %} enctype="multipart/form-data" onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Tumor Detection Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color=black>Patinet&nbsp;Name</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="25"></td></tr>
         
		  <tr><td><font size='' color=black>Browse&nbsp;Image</b></td><td><input name="t2" type="file" size="25"></td></tr>

			<tr><td></td><td><input type="submit" value="Submit"></td>
			</table>
				</div>	
					
				</div>
				
					
	</body>
</html>